/* #3962:「台港式」标点字体转换 for win chrome */
@font-face {
  font-family: 'Helvetica Neue';
  unicode-range: U+FF0C, U+3001, U+3002; /* 仅转换顿号、逗号、句号 */
  src: local(PMingLiU);
}

@font-face {
  font-family: sans-serif;
  unicode-range: U+FF0C, U+3001, U+3002;
  src: local(PMingLiU);
}